html,
body {
  margin: 0;
  height: 100%;
}

/* @font-face {
  font-family: "My Custom Font";
  src: url(./../font/tetris.ttf) format("truetype");
} */


body {
  background: url('./../images/templatebackgroundbis.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  /* font-family: "My Custom Font"; */
  font-family: fantasy;
  font-size:78px;
}

h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#Tetris {
  height: 90vh;
  border: solid 0.3em black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.leftPanel {
  margin-right: 100px;
}

.rightPanel {
  color: white;
  border: solid 0.3em white;
  background: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 450px;
  justify-content:space-evenly;

}

.row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.bonus {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

/* .malus{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
} */

.boutton {
  margin: 7px 50px;
}

.row3 {
  display: flex;
}

.row4{
  text-align: center;
}