/* 
h2{
  color: #0ff;
  color: #f00;
  color: #0f0;
  color: #ff0;
  color: #f0f;
  color: #00f;
  color: #f50;
} */

body{
  background-color: lightcoral;
}


/* .layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  } */


  
  canvas {
    /* height:90vh; */
    border: solid 0.3em black;
  }


  .visible{
    visibility:visible;
}

.invisible{
  visibility: hidden;
}