html, body {
  margin: 0;
  height: 100%;
}


body {
  background: linear-gradient(to top, #a1c4fd, #c2e9fb);
}

h1,h2{
  text-align: center;
}

#Tetris {
  height: 90vh;
  border: solid 0.3em black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.next {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.next-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.leftPanel {
  border: solid 0.3em black;
}

.header{
  height:5vh;
}

/* .row{
  display: flex;
  justify-content: left;
} */

.container{
  display: flex;
  justify-content: center;
}